:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --additional-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: var(--primery-text-color);
}
a {
  text-decoration: none;
}
/* Хедер */

.logo-web {
  color: var(--accent-color);
}
.navigation-list-item:hover {
  color: var(--accent-color);
}
